<configuration debug="true">

  <!-- Special handling of webdriver messages -->
  <turboFilter class="ch.qos.logback.classic.turbo.MarkerFilter">
    <Name>WEBDRIVER_FILTER</Name>
    <Marker>webdriver</Marker>
    <OnMatch>DENY</OnMatch>
  </turboFilter>

  <!-- Name sanitization logging -->
  <turboFilter
      class="ch.qos.logback.classic.turbo.MarkerFilter">
    <Marker>galenium.naming</Marker>
    <OnMatch>DENY</OnMatch>
  </turboFilter>

  <!-- Special handling of internal GaleniumReportUtil logging -->
  <turboFilter class="ch.qos.logback.classic.turbo.MarkerFilter">
    <Marker>galenium.reporting.internal</Marker>
    <OnMatch>DENY</OnMatch>
  </turboFilter>

  <!-- Special handling of internal Galenium listener logging -->
  <turboFilter class="ch.qos.logback.classic.turbo.MarkerFilter">
    <Marker>galenium.listeners</Marker>
    <OnMatch>DENY</OnMatch>
  </turboFilter>

  <!-- Report galenuim assertions that are successful. Sparse report comes with more green -->
  <turboFilter class="ch.qos.logback.classic.turbo.MarkerFilter">
    <Marker>galenium.assertion</Marker>
    <OnMatch>ACCEPT</OnMatch>
  </turboFilter>

  <appender name="EXTENT" class="io.wcm.qa.glnm.appender.logback.ExtentAppender"/>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder
      by default -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <if condition="Boolean.getBoolean(&quot;galenium.report.sparse&quot;)">
    <then>
      <logger name="${package}" level="INFO">
        <appender-ref ref="EXTENT" />
      </logger>
    </then>
    <else>
      <logger name="${package}" level="TRACE">
        <appender-ref ref="EXTENT" />
      </logger>
    </else>
  </if>

  <logger name="no.test.name" level="TRACE" />

  <logger name="org.littleshoot.proxy" level="WARN" />

  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>

</configuration>
