<configuration>

<!-- Example filter to use with marked loggers 
	<turboFilter class="ch.qos.logback.classic.turbo.MarkerFilter">
		<Name>WEBDRIVER_FILTER</Name>
		<Marker>webdriver</Marker>
		<OnMatch>DENY</OnMatch>
	</turboFilter> 
 -->

  <appender name="EXTENT" class="io.wcm.qa.galenium.appender.logback.ExtentAppender"/>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
      by default -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <if condition="Boolean.getBoolean(&quot;galenium.report.sparse&quot;)">
    <then>
      <logger name="Example" level="INFO">
        <appender-ref ref="EXTENT" />
      </logger>
      <turboFilter class="ch.qos.logback.classic.turbo.MarkerFilter">
        <Marker>webdriver</Marker>
        <OnMatch>DENY</OnMatch>
      </turboFilter>
    </then>
    <else>
      <logger name="Example" level="TRACE">
        <appender-ref ref="EXTENT" />
      </logger>
    </else>
  </if>  


  
  <logger name="io.wcm.qa.galenium.assertions" level="DEBUG" />

  <root level="DEBUG">
    <appender-ref ref="STDOUT" />
  </root>

</configuration>